PORT=5000
DB_HOST=localhost
DB_USER=farmdirect_user
DB_PASSWORD=FarmDirect@2026!
DB_NAME=farmdirect_db
DB_PORT=3306
JWT_SECRET=farmdirect_sih_secret_key_2026
VITE_API_URL=

# Meon Technologies KYC & Pennydrop Credentials
MEON_SECRET_TOKEN=y6rhc4I8mtCi3dvRgwEjxJYdXemrAWeY
MEON_COMPANY_NAME=payom
MEON_COMPANY_ID=68409
MEON_BANK_UAT_USERNAME=68409216BF652
MEON_BANK_UAT_PASSWORD=4C4CB285836347DF8D92B9DDC9F080CC
MEON_PENNYDROP_TOKEN_URL=https://pennydrop.meon.co.in/generate_token
MEON_PENNYDROP_VERIFY_URL=https://pennydrop.meon.co.in/api/pennydrop
MEON_PAN_URL=https://panapi.meon.co.in/pan
MEON_DIGILOCKER_TOKEN_URL=https://digilocker.meon.co.in/get_access_token
MEON_DIGILOCKER_URL=https://digilocker.meon.co.in/digi_url

# Cashfree Payments & Escrow Payouts Credentials
CASHFREE_APP_ID=TEST111145395d3f4f62cf0359182ad693541111
CASHFREE_SECRET_KEY=TEST96238b975d4a94828b1db6945802bb0364
CASHFREE_ENV=TEST
CASHFREE_PG_URL=https://sandbox.cashfree.com/pg
CASHFREE_PAYOUT_URL=https://sandbox.cashfree.com/payout

